@{
  Layout = "_Layout";
}

<h1>Vendor Order Details:</h1>

<h2>Vendor: @Model["vendor"].Name</h2>
<h3>Title: @Model["order"].Title</h3>
<h4>Description: @Model["order"].Description</h4>
<h4>Total Price: @Model["order"].Price</h4>
<h4>Date Ordered: @Model["order"].Date</h4>

<a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new Order!</a>
<a href="/vendors">Back list of Vendors</a>